.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
  "appHeader appHeader"
  "appNav appContent";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}

.app-header {
  grid-area: appHeader;
  background: #7ec1ff;
}

.app-header img {
  width: 50px;
}

.app-nav {
  grid-area: appNav;
  background: #a0d911;
}

.app-content {
  grid-area: appContent;
  background: tomato;
}